body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #272738;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #C0C0C0;
    color: black;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    background: #fff;
    margin-top: 60px; /* Para compensar el espacio ocupado por la navbar fija */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #333;
}

p {
    margin: 1em 0;
}

.section {
    margin-bottom: 20px;
}

.section-header {
    border-bottom: 2px solid #C0C0C0;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Estilos para los botones colapsables */
.collapsible {
    background-color: #272738;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 10px;
}

.active, .collapsible:hover {
    background-color: #272738;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f9f9f9;
    margin-top: 0;
}
